<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>

  <appSettings>
    <add key="clientId" value="gL9-DNx0U30yEsxwEx5Rew" />
    <add key="secretKey" value="H_qP7ujDDUKOzK-NZf-0SQ" />
    <add key="redirect" value="https://ya.ru" />
  </appSettings>
</configuration>